body {
  padding-bottom: 50px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul.responses {
  list-style: none;
}

ul.gif-list li {
  padding: 5px;
  display: inline-block;
}

.footer {
  position:fixed;
  left: 0;
  bottom:0;
  width:100%;
  height:50px;   /* Height of the footer */
  background:#69B241;
}
